<div class="page-sidebar" ng-if="visible">
	<ul class="sidebar-nav">
		<li>
			<a href="#/dashboard">
				<i class="fa fa-dashboard"></i>
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a href="#/plans/new">
				<i class="fa fa-plug"></i>
				<span>Create Plan</span>
			</a>
		</li>
		<li>
			<a href="#/addons/new">
				<i class="fa fa-puzzle-piece"></i>
				<span>Create Add-on</span>
			</a>
		</li>
		<li>
			<a href="#/servers/new">
				<i class="fa fa-server"></i>
				<span>Create Server</span>
			</a>
		</li>
		<li>
			<a href="#" ng-click="logout()">
				<i class="fa fa-sign-out"></i>
				<span>Sign out</span>
			</a>
		</li>
	</ul>
</div>