<form class="form">
	<div class="row">
		<div class="col-sm-4">
			<label for="name">Name</label>
			<input type="text" name="name" ng-model="addon.name" class="form-control">
			<p class="help-block">Add-on name</p>
		</div>
		<div class="col-sm-4">
			<label for="description">Description</label>
			<input type="text" name="description" ng-model="addon.description" class="form-control">
			<p class="help-block">Add-on description</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="neverExpires" ng-model="addon.neverExpires"> Never Expires
				</label>
			</div>
			<p class="help-block">If checked, last until subscription exists</p>
		</div>
		<div class="col-sm-2 col-xs-4">
			<label for="billingPeriod">Billing Period</label>
			<input type="number" name="billingPeriod" ng-model="addon.billingPeriod" class="form-control">
		</div>
		<div class="col-sm-4 col-xs-8">
			<label for="billingPeriodUnit">Billing Period Units</label>
			<select name="billingPeriodUnit" ng-model="addon.billingPeriodUnit" class="form-control">
				<option value="days">Days</option>
				<option value="months">Months</option>
				<option value="years">Years</option>
			</select>
		</div>
		<p class="col-xs-12 help-block">Addon's lifetime until it expires</p>
		<!-- <div class="col-sm-2 col-xs-4" ng-hide="addon.neverExpires">
			<label for="billingCyrcles">Billing Cyrcles</label>
			<input type="number" name="billingCyrcles" ng-model="addon.billingCyrcles" class="form-control">
			<p class="help-block">Number of circles until add-on expires</p>
		</div> -->
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label for="price">Price</label>
			<input type="text" name="price" ng-model="addon.price" class="form-control">
			<p class="help-block">Add-on price</p>
		</div>
	</div>
	<!-- <div class="row">		
		<div class="col-sm-2">
			<label for="quantity">Quantity</label>
			<input type="text" name="quantity" ng-model="addon.quantity" class="form-control">
			<p class="help-block">Add-on ?</p>
		</div>
	</div> -->
	<div class="row">
		<div class="col-sm-2">
			<label for="currency">Currency</label>
			<select name="currency" ng-model="addon.currency" class="form-control">
				<option value="EUR">EUR</option>
				<option value="USD">USD</option>
				<option value="UAH">UAH</option>
			</select>
			<p class="help-block">Add-on currency (ISO format)</p>
		</div>
	</div>
	<nav class="sticky-nav bottom-nav white-color-bgr semi-transparent">
		<ul class="nav">
			<li>
				<a href="" type="button" class="btn btn-primary" tabindex="0" ng-click="setAddon()">Save</a>
			</li>
			<li ng-if="addon.name !== undefined">
				<a href="" type="button" class="btn btn-default" tabindex="0" ng-click="deleteAddon()">Delete</a>
			</li>
			<li>
				<a href="#/dashboard" type="button" tabindex="0" class="btn btn-link">Cancel</a>
			</li>
		</ul>
	</nav>
</form>
