<form role="form" class="action-form login-form">
	<span class="input input--hoshi">
		<input class="input__field input__field--hoshi" type="text" name="login" ng-model="login" input-hoshi/>
		<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="login">
			<span class="input__label-content input__label-content--hoshi">Login</span>
		</label>
	</span>
	<span class="input input--hoshi">
		<input class="input__field input__field--hoshi" type="password" name="password" ng-model="password" input-hoshi/>
		<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="password">
			<span class="input__label-content input__label-content--hoshi">Password</span>
		</label>
	</span>
	<br><br>
	<p class="error-msg">{{message}}</p>
	<div class="pull-left">
		<input type="submit" value="Login" class="btn btn-primary" ng-click="logIn()">
	</div>
	<div class="u-pull-right" style="text-align:right">
		<a href="#">Forgot password?</a><br>
		<a href="#/signup">Sign Up</a>
	</div>
</form>